* {
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #ecf0f1;
    --cor-destaque: #C10610;
    --cor-destaque_hover: #FF3E3E;
    --cor-suave: #fae900;
    --cor-fundo: #ffffff;
    --cor-texto: #000000;
    --cor-link: #3498db;
}

.regua {
    border: 1px solid #9e07b3;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

h4,
h5,
h6 {
    font-family: 'Lora', serif;
    font-style: italic;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.navegation>img {
    width: 120px;
}

.container {
    max-width: 1024px;
    width: 100%;
    max-height: 100vh;
    height: 100%;
    margin: 0 auto;


}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;

    padding: 2px 0;
    background: var(--cor-secundaria);
}

.navegation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 18px;    
    width: 100%;
    transition: all 0.5s;
}

.navegation ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navegation ul>li {
    list-style: none;
}

.navegation ul li a {
    color: var(--cor-texto);
    font-family: 'poppins', serif;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.5s;
}

.navegation ul li a:hover {
    color: #ff0066;
}

.menu {
    cursor: pointer;
    display: none;
}

.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--cor-primaria);
    margin: 5px auto;
    transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
    background: linear-gradient(to right, #ff0000, #ff0000);

}

.menu .bar:nth-child(2) {
    background-color: var(--cor-suave);
}

.menu.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu.ativo .bar:nth-child(2) {
    opacity: 0;
}

.menu.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.loja {
    align-items: center;
}

.loja .sobre-nos {
    display: flex;
    font-size: 1.2em;
    margin-top: 37px;
}

.loja .sobre-nos img {
    max-width: 500px;
    margin-right: 20px;
    margin-bottom: 2%;
}

.sobre-nos .text-sobre h2 {
    margin-bottom: 32px;
}

.sobre-nos .text-sobre p {
    text-align: justify;
    margin-top: 3%;
    padding-bottom: 3%;
}

.minha-grid ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    column-gap: 1%;
    row-gap: 5%;
}

.minha-grid ul li img {
    width: 100%;
}


.text-sobre h2 {    
    padding-bottom: 10px;
    font-size: 36px;
    text-decoration: none;
    color: var(--cor-primaria);
    border-bottom: 3px solid var(--cor-suave);
    font-style: italic;
}

.minha-grid h2 {
    padding-bottom: 10px;
    font-size: 36px;
    text-decoration: none;
    color: var(--cor-primaria);
    border-bottom: 3px solid var(--cor-suave);
    font-style: italic;
}

.minha-grid h2 {
    margin-top: 2%;
    margin-bottom: 3%;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background: linear-gradient(to right, #000000, #048100);
    color: var(--cor-fundo);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    align-items: center;
    margin-bottom: 32px;
}

.bi {
    align-items: center;
    padding-inline: 5%;
}

button:hover {
    background-color: var(--cor-destaque_hover);
    color: var(--cor-secundaria);
}

.container-flex li h3 {
    font-size: 24px;
}

.container-flex li p {
    font-size: 14px;
    padding-block: 20px;
}

footer {
    text-align: center;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}

@media only screen and (max-width: 640px) {
    .menu {
        display: block;
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--cor-secundaria);
        gap: -10px;
        transition: all 0.3s;
    }

    .nav-menu.ativo {
        right: 0;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-item a {
        text-decoration: none;
        font-size: 17px;
        font-weight: 500;
    }


    .loja {
        display: block;
    }

    .container {
        max-width: 90%;
    }

    .loja .sobre-nos {
        display: block;
        font-size: 1em;
        margin-top: 48px;
    }

    .loja .sobre-nos img {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 2%;
    }

    .minha-grid ul {
        display: block;
    }


    .container-flex li h3 {
        font-size: 32px;
    }

}

@media only screen and (min-width: 641px)and (max-width: 1023px) {

    .container {
        max-width: 90%;

    }

    .loja {
        align-items: center;
        justify-content: center;
    }

    .loja .sobre-nos {
        display: block;
    }

    .loja .sobre-nos a img {
        max-width: 100%;
    }

    .minha-grid .container-flex {
        grid-template-columns: repeat(2, 49%);
    }

    .loja .sobre-nos img {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 2%;
    }

    .container-flex li h3 {
        font-size: 32px;
    }

}